*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;
    min-height: 200vh;
}

/*-- navbar --*/
header{
    width: 100%;
    height: 60vh;
}
.container{
    padding: 20px 10%;
	margin: 0 auto;
}
.container p i{
    font-size: 80px;
}
nav{
    flex-wrap: wrap;
    background: #080808;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 1s;
    padding: 40px 100px;
    z-index: 100000;
    border-bottom: 2px solid #ff004f;
}
.logo{
    text-decoration: none;
    color: #fff;
    font-size: 40px;
    transition: 0.5s;
}
.logo:hover{
    font-size: 45px;
}
.logo span{
    text-decoration: none;
    font-size: 8px;
}
nav ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    position: relative;
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    transition: 0.5s;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
nav.sticky{
    padding: 30px 100px;
    background: #181818;
}

/*-- multi-section items --*/
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
    white-space: nowrap
}
.btn:hover{
    background: #ff004f;
}
.btn.btn2{
    display: inline-block;
}
.btn.btn2:hover{
    transform: translateY(-2px);
}

/*-- home --*/
#home{
    margin-top: 10%;
    padding: 80px 0;
    color: #fff;
}
.home-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.home-col-1{
    flex-basis: 60%;
}
.home-text{
    margin-top: 10%;
    font-size: 25px;
    text-align: center;
}
.home-text h1{
    font-size: 45px;
    margin-top: 20px;
}
.home-text h1 span{
    color: #ff004f;
}
.home-text-below{
    float: right;
    justify-content: right;
    text-align: right;
    display: flex;
    margin: 40px 0 30px;
    margin-left: 10%;
}
.home-text-below p {
    font-size: 15px;
}
.home-text-below p i {
    font-size: 40px;
    padding: 0 20px;
}
.home-text-below a {
    margin-top: 0;
    margin-left: 0;
}
.home-col-2{
    flex-basis: 35%;
}
.home-col-2 img{
    width: 450px;
    border-radius: 20px;
}

/*-- about --*/
#about{
    padding: 80px 0;
    color: #ababab;
}
.about-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 25%;
    text-align: left;
}
.about-col-1 img{
    width: 350px;
    border-radius: 5px;
}
.about-col-2{
    flex-basis: 70%;
}
.about-col-2 p{
    font-size: 20px;
    color: #fff;
}
.sub-title{
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}
.sub-title-2{
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
}





/*-------------------------------------
        5.  Education
--------------------------------------*/

.education {
    background:  #f9fbfd;
    padding-top:  50px;
}
.education-horizontal-timeline {
    padding: 80px 0;
}

.education-row {
    padding: 0px 0 80px;
    flex-wrap: wrap;
    display: flex;
}
.education-col{
    min-width: 375px;
    flex-basis: 45%;
    display: block;
    width: fit-content;
    border-radius: 5px;
    justify-content: left;
}
.education-col p, h1, h2, h3, h4, h5 {
    padding: 4px 0;
    max-width: 90%;
}
.timeline-horizontal-border {
    display:  flex;
    align-items: center;
    padding: 26px 0 30px;
}
.timeline-horizontal-border i {
    font-size:  10px;
    color: #ff004f;
    margin-right:  5px;
}
span.single-timeline-horizontal {
    display:  inline-block;
    background: #b2c1ce;
    height:  1px;
    width: calc(100% - 20px);
}
span.single-timeline-horizontal.spacial-horizontal-line {width: 88px;}
/*.timeline-horizontal-border*/





/*-- internships --*/
.internships-row{
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-right: 10px;
    border-radius: 25px;
    transition: 0.5s;
}
.internships-row:hover{
    background: #303030;
    transform: translateY(-1px);
}
.internships-col-1{
    flex-basis: 18%;
    text-align: center;
}
.internships-col-1 img{
    width: 100px;
    border-radius: 5px;
}
.internships-col-2{
    flex-basis: 78%;
}
.internships-col-2 p{
    font-size: 20px;
}

/*-- portfolio --*/
#portfolio{
    padding: 50px 0;
}
.tab-titles{
    display: flex;
    margin: 40px 0 30px;
    justify-content: center;
    text-align: center;
}
.tab-links{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links:hover::after{
    width: 25%;
}
.tab-links.active-link::after{
    width: 100%;
}
.tab-contents li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents li span{
    color: #cf004f;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}


.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 325px));
    grid-gap: 40px;
    margin-top: 50px;
    justify-content: center;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 325px;
    height: 325px;
    border-radius: 10px;
    display: block;
    transition: 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.3), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: 0.5s;
}
.layer h2{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.05);
}

.work:hover .layer{
    height: 100%;
}

/*-- contact --*/
.contact-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact-col-1{
    flex-basis: 35%;
}
.contact-col-1 p{
    margin-top: 30px;
    font-size: 16px;
    transition: text-decoration 0.5s;
}
.contact-col-1 p:hover{
    text-decoration: underline;
}
.contact-col-1 p i{
    color: #ff004f;
    font-size: 25px;
    margin-right: 15px;
}
.social-icons{
    margin-top: 30px;
    align-content: inherit;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: 0.5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-2px);
    font-size: 40px;
}
.contact-col-2{
    flex-basis: 60%;
}
.contact-col-2 form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
}
form button{
    width: 100%;
    outline: none;
    background: #080808;
    padding: 15px;
    margin: 5px 0;
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}